[submodule "vimfiles"]
    path = vimfiles
    url = https://github.com/tpope/vim-pathogen.git
[submodule "Modules/PwrRazzle"]
    path = Modules/PwrRazzle
    url = https://github.com/ocalvo/PwrRazzle.git
[submodule "Modules/PwrSudo"]
    path = Modules/PwrSudo
    url = https://github.com/ocalvo/PwrSudo.git
[submodule "Modules/PwrSearch"]
    path = Modules/PwrSearch
    url = https://github.com/ocalvo/PwrSearch.git
[submodule "Modules/PwrDev"]
	path = Modules/PwrDev
	url = https://github.com/ocalvo/PwrDev.git
